{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@100;400;700;900&display=swap"
            rel="stylesheet">
        <link
            rel="shortcut icon"
            href="https://cdn-icons-png.flaticon.com/512/3923/3923306.png" />
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
        <link href="{% static 'css/index.css' %}" rel="stylesheet" />
        <title>Test BECK</title>
    </head>
    <body class="body-preguntas">
        <div>
            <header class="header-preguntas"></header>

            <div class="contenedor-preguntas"> <!-- solo pone margin-->
                <div class="contenedor contenido-preguntas"> <!-- centra el contenido y le da un display flex-->
                    <form action="#" method="POST">
                        <div class="pregunta">
                            <h1 class="titulo-pregunta">Test BECK</h1>
                        </div>
                    
                        {% for pregunta in preguntas %}
                            <div class="pregunta">
                                <label>{{ pregunta.pregunta }}</label>
                                {% for opcion in pregunta.opcionrespuesta_set.all %}
                                    <div>
                                        <input id="{{ opcion.id }}" type="radio" name="pregunta{{ pregunta.id }}" value="{{ opcion.id }}">
                                        <label for="{{ opcion.id }}">{{ opcion.opcion }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    
                        <input type="submit" value="Enviar">
                        {% csrf_token %}
                    </form>
                    
                </div>
            </div>
        </div>

        <footer class="footer">
            <p><span>Test</span> TecNM</p>
        </footer>
    </body>
</html>