<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrarse</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@100;400;700;900&display=swap"
            rel="stylesheet">
        <link
            rel="shortcut icon"
            href="https://cdn-icons-png.flaticon.com/512/3923/3923306.png" />
        <link href="../../static/css/normalize.css" rel="stylesheet" />
        <link href="../../static/css/index.css" rel="stylesheet" />
    </head>
    <body style="background-color: aliceblue;">
        {% if form.errors %}
        <p>Hubo un error</p>
        {% endif %}

        <div class="contenedor-registro">
            <div>
                <form class="form-registro" action="{% url 'registro' %}"
                    method="post">
                    {% csrf_token %}
                    {{ form }}
                   
                    <button type="submit">Registrar</button>
                </form>
                
            </div>
        </div>
    </body>
</html>