{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrarse</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3923/3923306.png" />
        <link href="../../static/css/normalize.css" rel="stylesheet" />
        <link href="../../static/css/index.css" rel="stylesheet" />
    </head>
    <body style="background-color: aliceblue;">
        <div>
            <header class="header-preguntas" style="background-color: #009688;"></header>

            <div class="contenedor-registro">
                <div class="contenedor contenido-preguntas">
                    <form id="formulario" class="form-registro" action="{% url 'registro' %}" method="post">
                        <div class="pregunta">
                            <h1 class="titulo-pregunta">Registrarse</h1>
                        </div>
                        {% csrf_token %}

                        <div class="pregunta opciones">
                            <label for="username">Usuario</label>
                            <input class="input-registro" id="username" type="{{ form.username.field.widget.input_type }}" name="username" placeholder="Ingrese un nombre de usuario">
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    <span class="errorU">{{ error }}</span>
                                {% endfor %}  
                            {% endif %}   
                        </div>
                        

                        <div class="pregunta opciones">
                            <label for="correo">Correo institucional</label>
                            <input class="input-registro" id="correo" type="email" name="correo" placeholder="Ingrese su correo institucional">
                        </div>

                        <div class="pregunta opciones">
                            <label for="password1">{{ form.password1.label_tag }}</label>
                            <input class="input-registro" id="password1" type="{{ form.password1.field.widget.input_type }}" name="password1" placeholder="{{ form.password1.label }}">
                            {% if form.password1.errors %}
                                {% for error in form.password1.errors %}
                                    <span class="errorU">{{ error }}</span>
                                {% endfor %}  
                            {% endif %}
                            <ul class="requisitosPassword">
                                <li>Minimo 8 caracteres</li>
                                <li>Al menos una mayuscula</li>
                                <li>Al menos un numero</li>
                                <li>Sin caracteres especiales</li> 
                            </ul>
                        </div>
                    
                        <div class="pregunta opciones">
                            <label for="password2">Confirmar contraseña</label>
                            <input class="input-registro" id="password2" type="password" name="password2" placeholder="Repita su contraseña">
                            {% if form.password2.errors %}
                                {% for error in form.password2.errors %}
                                    <p class="errorp2">{{ error }}</>
                                {% endfor %}  
                            {% endif %}
                            <p class="errorE coincidencia">Las contraseñas no coinciden</p>
                        </div>

                        <div class="pregunta opciones">
                            <label for="carrera">Carrera</label>
                            <select id="carrera" class="section-registro" name="carrera">  
                                {% for carrera in carreras %}
                                    <option value="{{ carrera.id }}">{{ carrera.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="pregunta opciones">
                            <label for="edad">Edad</label>
                            <input class="input-registro" id="edad" type="number" name="edad" placeholder="Ingrese su edad" min="0">
                        </div>

                        <div class="pregunta opciones">
                            <label for="instituto">Instituto</label>
                            <input type="text" name="" id="" onchange="buscar(event)" >
                            <select id="instituto" class="section-registro" name="instituto">  
                                {% for instituto in institutos %}
                                
                                    <option class="buscar" value="{{ instituto.id }}">{{ instituto.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        

                        <div class="pregunta opciones">
                            <label for="sexo">Sexo</label>
                            <select id="sexo" class="section-registro" name="sexo">
                                <option value="0">Hombre</option>
                                <option value="1">Mujer</option>
                            </select>
                        </div>

                        <div class="pregunta opciones">
                            <label for="semestre">Semestre</label>
                            <select class="section-registro" name="semestre">
                                <option value="1">Primero</option>
                                <option value="2">Segundo</option>
                                <option value="3">Tercero</option>
                                <option value="4">Cuarto</option>
                                <option value="5">Quinto</option>
                                <option value="6">Sexto</option>
                                <option value="7">Septimo</option>
                                <option value="8">Octavo</option>
                                <option value="9">Noveno</option>
                                <option value="10">Decimo</option>
                            
                            </select>
                        </div>

                        <input id="btnregistrar" type="submit" value="Registrar">
                    </form>
                </div>
            </div>
        </div>

        <script src="{% static 'js/index.js' %}"></script>

    </body>
</html>
